/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style and utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* navbar  */
 header{
     background-color:royalblue;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    padding: 42px 124px 67px 156px;
	
 }
 span a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 36px;
    color: #FFFFFF;
	font-weight: 500;
 }
 .login-button{
	 width: 123px;
	 height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    color: #FFFFFF;
	padding: 10px 24px 10px 24px;
 }
 .fa-sign-in-alt{
	 padding-right: 8px;
	 
 }
 



/* banner style start */
.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: royalblue; */
}

.banner-heading h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  margin: 0px 51px 27px 156px;
}
.watch-button {
  width: 168px;
  height: 44px;
  padding: 10px 4px 10px 24px;
  margin: 27px 419px 169px 156px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #e02c6d;
  border-radius: 5px;
  color: white;
  position: absolute;
}
.fa-arrow-right {
  width: 16px;
  height: 14px;
  padding: 15px 28px 15px 4px;
  color: white;
}

.banner-player img {
  width: 556px;
  height: 438px;
  margin: 153px 140.99px 86px 51px;
}

/*-------------------------*\ 
\* individual Player section
\*--------------------------*/

.player-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  justify-content: center;
  margin-top: 70px;

  /* width: 1050px;
height:474px; */
  margin: 70px 225px 27px 180px;

  /* border: 1px solid black; */
}

.player-card {
  width: 330px;
  height: 474px;
  box-shadow: 0 0 10px royalblue;
  margin-left: 16px;
  padding: 8px 7px;
  border-radius: 10px;
}

.player-image {
  border-radius: 10px;
}

.player-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 16px 15px 15px 15px;
}
.player-description h2 {
  margin: 8px 15px 5px 15px;
}
.player-description p {
  width: 300px;
  height: 104px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  margin: 5px 15px 33px 15px;
}

/*-------------------------*\ 
\* Blog Start
\*--------------------------*/
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-column-gap: 69px;
  grid-row-gap: 158px;
  justify-content: center;
  margin-top: 165px;
}
.blog-paragraph {
  width: 466px;
  height: 309px;
  margin-top: 154px;
  /* border: 1px solid black; */
  /* box-shadow: 0 0 10px royalblue; */
}
.blog-detail {
  margin-bottom: 24px;
}

.blog-paragraph h3 {
  width: 466px;
  height: 120px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700px;
  color: black;
  margin-bottom: 10px;
  margin-top: 0;
}
.blog-paragraph p {
  width: 404px;
  height: 113px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: 6c6c6c;
  padding-bottom: 24px;
  margin: 4px 31px 12px 0px;
}
.blog-button{
	padding-top:24px ;
}

.blog-button a {
  width: 150px;
  height: 44px;
  padding: 10px 24px 10px 24px;
  margin: 24px 293px 0 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #e02c6d;
  border-radius: 5px;
  color: white;
  position: absolute;
}
.blog-image img {
  width: 567px;
  height: 427px;
  margin: 165px 239px 158px 69px;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: max-content;
  grid-row-gap: 20px;
  justify-content: center;
  place-items: center;
}

.website-logo img {
  width: 483.87px;
}

.social-logo {
  margin: 10px 157px 10px 157px;
}
.social-logo a {
  padding: 14px;
  margin-left: 14px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube {
  width: 17px;
  height: 17px;
  font-weight: 700;
  color: grey;
}

.copyright p {
  width: 236px;
  height: 31px;
  font-size: 18px;
  font-weight: 400px;
  margin-left: 10px 124px 0 124px;
}
