/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* banner style start */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
}

.banner-heading h1 {
  width: 30.313rem;
  height: 14.375rem;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin: 7.563rem 51px 3.188em 9.75rem;
}
.watch-button {
  width: 10.5rem;
  height: 2.75rem;
  padding: 0.625rem 0.25rem 0.625rem 1.5rem;
  margin: 1.688rem 26.188rem 10.563rem 9.75rem;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  background-color: #e02c6d;
  border-radius: 0.313rem;
  color: white;
}
.fa-arrow-right {
  width: 1rem;
  height: 0.875rem;
  margin:15px 28px 15px 4px;
  color: white;
}
.banner-player {
}
.banner-player img {
  width: 556px;
  height: 438px;
  margin: 153px 140.99px 86px 51px;
}

/*--------------------------*\ 
  Individual Player section
\*--------------------------*/

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card {
  width: 20.625rem;
  height: 29.625rem;
  box-shadow: 0 0 10px royalblue;
  margin: 2.188 13.125rem 1.688rem 11.25rem;
  padding: 0.5rem 0.438rem;
  border-radius: 10px;
}

.player-image {
  border-radius: 10px;
}

.player-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 16px 15px 15px 15px;
}
.player-description h2 {
  margin-top: 8px 15px 5px 15px;
}
.player-description p {
  width: 300px;
  height: 104px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  margin: 5px 15px 33px 15px;
}
