/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style and utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* navbar  */
header {
  background-color: royalblue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 42px 124px 67px 156px;
}
span a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 36px;
  color: #ffffff;
  font-weight: 500;
}
.login-button {
  width: 123px;
  height: 44px;
  background: #e02c6d;
  padding: 10px 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 24px 10px 24px;
}
.fa-sign-in-alt {
  padding-right: 8px;
}

/* banner style start */
.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: royalblue; */
}

.banner-heading h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  margin: 0px 51px 27px 156px;
}
.watch-button {
  width: 168px;
  height: 44px;
  padding: 10px 4px 10px 24px;
  margin: 27px 419px 169px 156px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #e02c6d;
  border-radius: 5px;
  color: white;
  position: absolute;
}

.fa-arrow-right {
  width: 16px;
  height: 14px;
  padding: 15px 28px 15px 4px;
  color: white;
}

.banner-player img {
  width: 556px;
  height: 438px;
  margin: 153px 140.99px 86px 51px;
  position: sticky;
}

.banner-player:hover {
  width: 1000x;
  height: 1000x;
}

/*-------------------------*\ 
\* individual Player section
\*--------------------------*/

.player-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  justify-content: center;
  margin-top: 70px;
 ;

  /* width: 1050px;
height:474px; */
  margin: 70px 225px 27px 180px;

  /* border: 1px solid black; */
}

.player-card {
  width: 330px;
  height: 474px;
  box-shadow: 0 0 10px grey;
  margin-left: 16px;
  padding: 8px 7px;
  border-radius: 10px;
}

.player-image {
  border-radius: 10px;
}

.player-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 16px 15px 15px 15px;
}
.player-description h2 {
  margin: 8px 15px 5px 15px;
}
.player-description p {
  width: 300px;
  height: 104px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  margin: 5px 15px 33px 15px;
}

/*-------------------------*\ 
\* Blog Start
\*--------------------------*/
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-column-gap: 69px;
  grid-row-gap: 158px;
  justify-content: center;
  margin-top: 165px;
}
.blog-paragraph {
  width: 466px;
  height: 309px;
  margin-top: 154px;
  /* border: 1px solid black; */
  /* box-shadow: 0 0 10px royalblue; */
}
.blog-detail {
  margin-bottom: 24px;
}

.blog-paragraph h3 {
  width: 466px;
  height: 120px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700px;
  color: black;
  margin-bottom: 10px;
  margin-top: 0;
}
.blog-paragraph p {
  width: 404px;
  height: 113px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: 6c6c6c;
  padding-bottom: 24px;
  margin: 4px 31px 12px 0px;
}
.blog-button {
  padding-top: 24px;
}

.blog-button a {
  width: 150px;
  height: 44px;
  padding: 10px 24px 10px 24px;
  margin: 24px 293px 0 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #e02c6d;
  border-radius: 5px;
  color: white;
  position: absolute;
}
.blog-image img {
  width: 567px;
  height: 427px;
  margin: 165px 239px 158px 69px;
}

/* Trending */
.trend-head {
  text-align: center;
  padding: 10px 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 20px whitesmoke;
  margin: 50px 50px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 44px;
}
.trending {
  /* display: grid;
  grid-template-columns: repeat(3,430px);
  grid-column-gap:50px ; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.trend-container {
  width: 330px;
  height: 474px;
  box-shadow: 0 0 10px whitesmoke;
  margin-left: 16px;
  padding: 8px 7px;
  border-radius: 10px;
  margin-bottom: 70px;
}

.trend-banner {
  border-radius: 10px;
}

.trend-banner img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 16px 15px 15px 15px;
}
.trend-detail h2 {
  margin: 8px 15px 5px 15px;
}
.trend-detail p {
  width: 300px;
  height: 104px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  margin: 5px 15px 33px 15px;
}

/*------------
    Partners 
--------------*/
#partner-h2 {
  text-align: center;

  text-align: center;
  padding: 10px 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 20px whitesmoke;
  margin: 50px 50px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 44px;
}
.partner-container {
  display: grid;
  grid-template-columns: repeat(6, 220px);
  justify-content: center;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: max-content;
  grid-row-gap: 20px;
  justify-content: center;
  place-items: center;
  margin-top: 70px;
}

.footer-logo img {
  width: 483.87px;
}

.social-logo {
  margin: 10px 157px 10px 157px;
}
.social-logo a {
  padding: 14px;
  margin-left: 14px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube {
  width: 17px;
  height: 17px;
  font-weight: 700;
  color: grey;
}

p {
  width: 236px;
  height: 31px;
  font-size: 18px;
  font-weight: 400px;
  margin-left: 10px 124px 0 124px;
}


/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width:668px){

  .banner-container, .trending{
  flex-direction: column;
  align-items: center;
  }
  .banner-player img{
    width: 100%;
  }
.player-container, .blog-container, .partner-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
}
.blog-container{
  grid-template-columns: repeat(1,fr);

}
.footer-logo  img{
  place-items: center;
}

}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .banner-container{
  flex-direction: column;
  
  }
  .banner-player img{
    width: 100%;
  }
.player-container, .partner-container,.trending,.blog-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
}
.blog-container
{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.blog-detail{
  grid-template-columns: repeat(1,1fr);
}
.blog-button{
  width: fit-content;
}
.blog-image img{
width: 100%;
}


.footer-logo  img{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  place-items: center;
}
}